schem/V05_STD_KPT/STD_KPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by FGUP FKC Zemlja (FGUP FKC Zemlja) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Справочник "Предмет регистрации и учета (вид права)"-->
	<xs:include schemaLocation="dRights.xsd"/>
	<!--Справочник "Виды обременений (вид права)"-->
	<xs:include schemaLocation="dEncumbrances.xsd"/>
	<!--Классификатор типов объектов недвижимости-->
	<xs:include schemaLocation="dRealty.xsd"/>
	<!--Справочник "Разрешенное использование"-->
	<xs:include schemaLocation="dUtilizations.xsd"/>
	<!--Справочник субъектов РФ-->
	<xs:include schemaLocation="dRegionsRF.xsd"/>
	<!--Справочник "Единицы измерений по ОКЕИ"-->
	<xs:include schemaLocation="dUnit.xsd"/>
	<!--Справочник видов платежей (Экономические характеристики)-->
	<xs:include schemaLocation="dGroundPayments.xsd"/>
	<!--Справочник "Вид статуса земельного участка"-->
	<xs:include schemaLocation="dStates.xsd"/>
	<!--Справочник "Вид земельного участка"-->
	<xs:include schemaLocation="dParcels.xsd"/>
	<!--Справочник "Целевое назначение (категории) земель"-->
	<xs:include schemaLocation="dCategories.xsd"/>
	<!--Справочник площадей-->
	<xs:include schemaLocation="dArea.xsd"/>
	<!--Подключение подсхемы АДРЕС-->
	<xs:include schemaLocation="V033_STD_Address.xsd"/>
	<!--5 версия-->
	<!--Отличия от 4 версии: 12.04.2010 Удалены элементы tParcel/Method, tParcel/Functional_Utilizations. Добавлены tParcel/Version, Cadastral_Block/OMS, Package/Certification_Doc, Cadastral_Block/Note-->
	<!--28.11.2010 Удалены элементы Category/DocCategory, Utilization/DocUtilization,  Utilization/Fakt, Ground_Payment/N_doc, SubParcel/Full, SubParcel/Realty-->
	<xs:element name="Region_Cadastr">
		<xs:annotation>
			<xs:documentation>ОСНОВНОЙ КОРНЕВОЙ ЭЛЕМЕНТ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eDocument">
					<xs:annotation>
						<xs:documentation>Электронный документ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Sender">
								<xs:annotation>
									<xs:documentation>Отправитель</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Kod" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Name" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Date_Upload" type="xs:date" use="required"/>
									<xs:attribute name="Appointment" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FIO" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="E_Mail">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Telephone" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Recipient">
								<xs:annotation>
									<xs:documentation>Получатель</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Kod" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Name" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="CodeType" type="xs:string" use="required" fixed="101">
							<xs:annotation>
								<xs:documentation>Тип программы</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Version" type="xs:string" use="required" fixed="05">
							<xs:annotation>
								<xs:documentation>Версия схемы.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Package">
					<xs:annotation>
						<xs:documentation>Пакет ДОКУМЕНТОВ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Federal">
								<xs:annotation>
									<xs:documentation>Кадастровый округ Общероссийский</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Cadastral_Regions" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Кадастровые округа</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Cadastral_Region" type="tCadastral_Region" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Кадастровый округ</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="CadastralNumber" type="xs:string" use="optional" default="00"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Certification_Doc" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения об удостоверении документа</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Organization">
											<xs:annotation>
												<xs:documentation>Наименование органа кадастрового учета</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date" type="xs:date">
											<xs:annotation>
												<xs:documentation>Дата формирования документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Number">
											<xs:annotation>
												<xs:documentation>Номер документа</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appointment">
											<xs:annotation>
												<xs:documentation>Должность удостоверяющего</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FIO">
											<xs:annotation>
												<xs:documentation>Инициалы, фамилия удостоверяющего</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parcels">
		<xs:annotation>
			<xs:documentation>Участки</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Parcel" type="tParcel" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Участок</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tArea">
		<xs:annotation>
			<xs:documentation>Площади по справочнику</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AreaCode" type="dArea">
				<xs:annotation>
					<xs:documentation>Наименование вида площади по справочнику</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area">
				<xs:annotation>
					<xs:documentation>Значение площади в кв. м.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="20"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Unit" type="xs:string" fixed="055">
				<xs:annotation>
					<xs:documentation>Кв. м.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tCadastral_Region">
		<xs:annotation>
			<xs:documentation>Кадастровый округ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cadastral_Districts">
				<xs:annotation>
					<xs:documentation>Кадастровые районы</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cadastral_District" type="tCadastr_District" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Кадастровый район</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CadastralNumber" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="tCadastr_District">
		<xs:annotation>
			<xs:documentation>Кадастровый район</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cadastral_Blocks">
				<xs:annotation>
					<xs:documentation>Кадастровые кварталы</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cadastral_Block" type="tCadastral_Block" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Кадастровый квартал</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CadastralNumber" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="tCadastral_Block">
		<xs:annotation>
			<xs:documentation>Кадастровый блок</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Area">
				<xs:annotation>
					<xs:documentation>Площадь</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Total" type="xs:decimal" use="required">
						<xs:annotation>
							<xs:documentation>Общая площадь в Га</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Unit" type="xs:string" use="required" fixed="059">
						<xs:annotation>
							<xs:documentation>Га</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Parcels"/>
			<xs:element name="OMSPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о пунктах ОМС</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OMSPoint" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Сведения о пункте ОМС</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PNmb">
										<xs:annotation>
											<xs:documentation>Номер пункта опорной межевой сети на плане</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PName">
										<xs:annotation>
											<xs:documentation>Название и (или) номер, тип пункта опорной межевой сети</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PKlass">
										<xs:annotation>
											<xs:documentation>Класс опорной межевой сети</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OrdX" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>Координата Х</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OrdY" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>Координата У</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Note" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Особые отметки (строка 6 КПТ.1)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CadastralNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tUunified_land_unit">
		<xs:annotation>
			<xs:documentation>Единое землепользование</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Preceding_Land_Unit">
				<xs:annotation>
					<xs:documentation>Кадастровый номер родительского участка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tParcel">
		<xs:annotation>
			<xs:documentation>Описание земельного участка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Areas">
				<xs:annotation>
					<xs:documentation>Основная площадь и другие площади</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Area" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Основная площадь и другие площади</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tArea">
										<xs:sequence>
											<xs:element name="Innccuracy" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="20"/>
														<xs:fractionDigits value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Location" type="tLocation">
				<xs:annotation>
					<xs:documentation>Данные по местополож. участка. Стр.7 В.1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category">
				<xs:annotation>
					<xs:documentation>Наименование категории земель в соответствии со справочником Стр.8 В.1</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tCategory"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Utilization" type="tUtilization" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Использование участка. Строки 9-10 В.1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rights" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Права</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Right" type="tRight" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Право</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubParcels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Части участка</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubParcel" type="tSubParcel" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Часть участка</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ground_Payments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Базовые платежи</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Ground_Payment" type="tGroundPayment" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Базовый платеж</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Unified_Land_Unit" type="tUunified_land_unit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данные о родительском едином землепользовании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Encumbrances" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обременения</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Encumbrance" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Обременение</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tEncumbrance"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contours" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Контура многоконтурного участка</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contour" type="tContour" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Контур</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CadastralNumber" use="required">
			<xs:annotation>
				<xs:documentation>Кадастровый номер</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="dParcels" use="required">
			<xs:annotation>
				<xs:documentation>Наименование участка</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="State" type="dStates" use="required">
			<xs:annotation>
				<xs:documentation>Статус</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DateCreated" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата постановки на учет</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DateRemoved" type="xs:date">
			<xs:annotation>
				<xs:documentation>Дата снятия с учета</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tSubParcel">
		<xs:annotation>
			<xs:documentation>Описание части земельного участка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Encumbrances">
				<xs:annotation>
					<xs:documentation>Сведения о частях, сформированных в связи с наложением обременений</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Encumbrance" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Сведения о части, сформированных в связи с наложением обременений</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tEncumbrance"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Number_PP" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="State" type="dStates" use="required">
			<xs:annotation>
				<xs:documentation>Статус</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tCategory">
		<xs:annotation>
			<xs:documentation>Наименование категории земель</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Category" type="dCategories" use="required"/>
	</xs:complexType>
	<xs:complexType name="tElaboration_Location">
		<xs:annotation>
			<xs:documentation>Уточнение местоположения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferenceMark" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ориентира</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Distance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расстояние</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direction" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Направление</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tContour">
		<xs:annotation>
			<xs:documentation>Описание контура участка</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Number_PP" use="required">
			<xs:annotation>
				<xs:documentation>Учетный номер</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tEncumbrance">
		<xs:annotation>
			<xs:documentation>Обременения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид обременения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Type" type="dEncumbrances">
				<xs:annotation>
					<xs:documentation>Код обременения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Registration" type="tRegistration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрация права</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tGroundPayment">
		<xs:annotation>
			<xs:documentation>Базовые платежи</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Kind" type="dGroundPayments" use="required">
			<xs:annotation>
				<xs:documentation>Виды платежей</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="20"/>
					<xs:fractionDigits value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Date" type="xs:date" use="optional"/>
		<xs:attribute name="Unit" type="dUnit" use="optional"/>
	</xs:complexType>
	<xs:complexType name="tLocation">
		<xs:annotation>
			<xs:documentation>Данные по местоположению участка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inBounds" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>в границах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Placed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Положение на ДКК</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Elaboration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уточнение  местоположения</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tElaboration_Location"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="tAddress" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tRight">
		<xs:annotation>
			<xs:documentation>Сведения о правах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид права</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Type" type="dRights">
				<xs:annotation>
					<xs:documentation>Код  права</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tRegistration">
		<xs:sequence>
			<xs:element name="RegNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер регистрационной записи</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата государственной регистрации </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateClose" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации прекращения  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgRegister" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кто зарегистрировал</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tUtilization">
		<xs:annotation>
			<xs:documentation>Вид использования ЗУ</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Kind" type="dUtilizations" use="optional">
			<xs:annotation>
				<xs:documentation>по справочнику</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ByDoc" use="optional">
			<xs:annotation>
				<xs:documentation>по документу</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="4000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tDIM_PARM">
		<xs:annotation>
			<xs:documentation>Параметры измерения (оси координат)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name">
			<xs:annotation>
				<xs:documentation>Наименовавание измерения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Lowerbound">
			<xs:annotation>
				<xs:documentation>Нижняя граница значений измерения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="38"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Upperbound">
			<xs:annotation>
				<xs:documentation>Верхняя граница значений измерения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="38"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Tolerance">
			<xs:annotation>
				<xs:documentation>Точность значений измерения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="38"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="Type_Unit">
		<xs:annotation>
			<xs:documentation>"Элементарный" тип для части элемента</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Точка"/>
			<xs:enumeration value="Линия"/>
			<xs:enumeration value="Дуга"/>
			<xs:enumeration value="Прямоугольник"/>
			<xs:enumeration value="Окружность"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tCadastr_Number_Block">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tCadastral_Number">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tOrganization_OKU"/>
	<xs:element name="eDocument">
		<xs:annotation>
			<xs:documentation>Электронный документ</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
